NEXT_PUBLIC_SUPABASE_URL=https://dbqrenlvinqheyjppxby.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRicXJlbmx2aW5xaGV5anBweGJ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTk2MjQzNiwiZXhwIjoyMDcxNTM4NDM2fQ.GFmOEKusYDUpnqroLC3l2uNDmr0An5w6miEMZDCDmpY
